page-about {
    .background-home{
        background: #1a0a3a;
        color: #ffffff;
        position: relative;
    }

    .control {
        padding-top: 30%;
        padding-left: 3%;
    }

    .temp-text{
        text-align: center;
        padding-top: 10%;
    }

    .icon-circle{
        font-size:20px;
        height: 40px;
        width: 40px;
        background: #ff3e62;
        padding-left: 9px;
        padding-top: 7px;
        border-radius: 50%;
        position: relative;    
    }
    .icon-circle1{
        font-size:20px;
        height: 40px;
        width: 40px;
        background: #00ccff;
        padding-left: 9px;
        padding-top: 7px;
        border-radius: 50%;
        position: relative;    
    }

    .icon-close{
        font-size:20px;
        height: 40px;
        width: 40px;
        padding-left: 9px;
        padding-top: 7px;
        border-radius: 50%;
        position: relative;
    }

    .icon-text{
        text-align: center;
        font-size:  12.5px;
        padding-top: 5px;
        padding-right:30%;
    }


    ion-icon {
        &[class*="custom-"] {
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            width: 1em;
            height: 1em;
        }
        &[class*="custom-wind"] {
            mask-image: url(../assets/imgs/wind.svg);
            font-size: 25px;
        }
        &[class*="custom-dry"] {
            mask-image: url(../assets/imgs/dry.svg);
            font-size: 25px;
        }        
        &[class*="custom-waterdrop"] {
            mask-image: url(../assets/imgs/waterdrops.svg);
            font-size: 25px;
        }
    }

    .fade-in {
        -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      }
      @-webkit-keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }

}
