<ion-content padding class="background-home fade-in">
  <div class="control">
    <h1>Mode Settings</h1>

    <!-- Grid -->

    <ion-grid>
      <ion-col>
        <ion-row>
          <ion-col>
            <p style="color:#998ead;">Modes</p>
          </ion-col>
          <ion-col style="padding-left: 30%">
            <p style="color:#998ead; padding-left:35%">Aromas</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="icon-circle">
              <ion-icon ios="ios-sunny" md="md-sunny"></ion-icon>
            </div>
            <div class="icon-text">
              <span style="color:#ff3e62;">Heat</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="icon-close">
              <ion-icon style="color:#00ccff;" ios="ios-snow" md="md-snow"></ion-icon>
            </div>
            <div class="icon-text">
              <span>Cool</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="icon-close">
              <ion-icon></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <div class="icon-close">
              <ion-icon style="color:#ff3e62;" name="custom-waterdrop"></ion-icon>
            </div>
            <div class="icon-text">
              <span>Cherry</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="icon-circle1">
              <ion-icon style="color:#ffffff;" name="custom-waterdrop"></ion-icon>
            </div>
            <div class="icon-text">
              <span style="color:#00ccff;">Ice</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="icon-close">
              <ion-icon style="color:#b381ff;" name="custom-wind"></ion-icon>
            </div>
            <div class="icon-text">
              <span>Wet</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="icon-close">
              <ion-icon style="color:#00ccff" name="custom-dry"></ion-icon>
            </div>
            <div class="icon-text">
              <span>Dry</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="icon-close">
              <ion-icon></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <div class="icon-close">
              <ion-icon style="color:#b381ff;" name="custom-waterdrop"></ion-icon>
            </div>
            <div class="icon-text">
              <span>Grape</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="icon-close">
              <ion-icon style="color:#00ccff;" name="custom-waterdrop"></ion-icon>
            </div>
            <div class="icon-text">
              <span>Lime</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <p style="color:#998ead;">Temperature</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="temp-text">
              <span style="font-size:100px;">19</span>
              <span style="font-size:20px;">temp</span>
            </div>
          </ion-col>
        </ion-row>

        
      </ion-col>
    </ion-grid>
  </div>
</ion-content>