<ion-content class="background-home">
    <ion-navbar color="violett"></ion-navbar>

    <ion-card>
        <img src='../../assets/imgs/PA1/0.jpg' />
        <ion-card-content>
            <ion-card-title class="Kanit ion-text-center tracking-in-expand">
                แมลงศัตรูพืช
            </ion-card-title>
            <img src='../../assets/imgs/PA1/1.jpg' />
            \<br>
            <p class="Kanit font-text">
                1) แมลงจำพวกกัดกินใบ (leaf feeder) ได้แก่ หนอนผีเสื้อ ตั๊กแตน ด้วงปีกแข็ง แมลงพวกนี้มีปากแบบกัดกิน
                (chewing) สามารถกัดกินใบทั้งหมด
            </p>
            \<br>
            <img src='../../assets/imgs/PA1/2.jpg' />
            \<br>
            <p class="Kanit font-text">
                2) แมลงจำพวกดูดกินน้ำเลี้ยง (juice sucker) ได้แก่ เพลี้ยอ่อน เพลี้ยกระโดด เพลี้ยจั๊กจั่น และมวนต่างๆ
                แมลงจำพวกนี้มีปากแบบดูด (sucking) สามารถแทงและดูดน้ำเลี้ยงจากใบ ยอดอ่อน กิ่ง ลำต้น ดอก หรือ ผล
                ทำให้ส่วนต่างๆ ของพืชที่ถูกดูดกินน้ำเลี้ยง
            </p>
            \<br>
            <img src='../../assets/imgs/PA1/3.jpg' />
            \<br>
            <p class="Kanit font-text">
                3) แมลงจำพวกหนอนชอนใบ (leaf minor) ได้แก่ หนอนผีเสื้อ หนอนแมลงวันบางชนิด แมลงจำพวกนี้มักมีขนาดเล็ก
                กัดกินเนื้อเยื่ออยู่ระหว่างผิวใบพืช ทำให้พืชขาดส่วนสังเคราะห์แสงหรือขาดส่วนสะสมอาหาร
            </p>
            \<br>
            <img src='../../assets/imgs/PA1/4.png' />
            \<br>
            <p class="Kanit font-text">
                4) แมลงจำพวกหนอนเจาะลำต้น (stem borer) ได้แก่ หนอนด้วง หนอนผีเสื้อ และปลวก
                แมลงจำพวกนี้มักวางไข่ตามใบหรือเปลือกไม้ เมื่อไข่ฟักออกเป็นตัวหนอนก็จะชอนไชเข้าไปอยู่ในกิ่ง ลำต้น หรือผล
                ทำให้ต้นพืชขาดน้ำและอาหาร
            </p>
            \<br>
            <img src='../../assets/imgs/PA1/5.jpg' />
            \<br>
            <p class="Kanit font-text">
                5) แมลงจำพวกกัดกินราก (root feeder) ได้แก่ ด้วงดีด จิ้งหรีด แมลงกระชอน ด้วงดิน ด้วงงวง
                แมลงจำพวกนี้มีปากแบบกัดกิน มักมีชีวิตหรือวางไข่ตามพื้นดิน ตัวอ่อนและตัวเต็มวัยจะเข้าทำลายรากพืช
            </p>
            \<br>
            <img src='../../assets/imgs/PA1/6.jpg' />
            \<br>
            <p class="Kanit font-text">
                6) แมลงจำพวกที่ทำให้เกิดปุ่มปม (gall maker) ได้แก่ ต่อ แตน และเพลี้ย แมลงจำพวกนี้เมื่อกัดกิน,
                ดูดน้ำเลี้ยงหรือวางไข่บนพืชแล้ว มักจะปลดปล่อยสารบางชนิดลงบนพืช ทำให้เกิดอาการปุ่มปมผิดปกติบนส่วนต่าง ๆ
                ของพืช
            </p>
            \<br>
            <img src="../../assets/imgs/anime_caterpie.svg" height="50px" width="50px">

        </ion-card-content>
    </ion-card>
</ion-content>