page-contact {
  .GB-Menu {
    background-image: url("../../assets/imgs/14.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 87%;
    color: #ffffff;
  }
  .fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @font-face {
    font-family: Kanit;
    src: url("../../assets/fonts/Kanit.woff2") format("woff2");
  }
  .Kanit {
    font-family: Kanit;
  }
  .ion-text-center {
    text-align: center;
    font-size: 35px;
  }
}
