page-home {
  .background-home {
    background: #1a0a3a;
    color: #ffffff;
  }
  .control {
    padding-top: 15%;
    padding-left: 1%;
  }
  .menu-home-active {
    background: #ff3e62;
    height: 170px;
    border-radius: 6px;
    padding-top: 25px;
  }
  .menu-home-close {
    border-color: #ffffff;
    height: 170px;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    padding-top: 25px;
  }
  .scroll-content {
    overflow: hidden;
  }
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
  ion-icon {
    font-size: 50px;
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
    &[class*="custom-wind"] {
      mask-image: url(../assets/imgs/wind.svg);
      font-size: 45px;
    }
    &[class*="custom-dry"] {
      mask-image: url(../assets/imgs/dry.svg);
      font-size: 45px;
    }
  }

  .fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .wave {
    position: absolute;
    background: radial-gradient(circle at 100%, #6285c6, #6285c6 50%, #1a0a3a 100%);
    width: 100vh;
    height: 100vh;
    border-radius: 41%;
    transform-origin: 50% 48%;
    animation: drift 5000ms infinite linear;
    opacity: 0.3;
    bottom: -104%;
    left: -40%;
    box-shadow: 10px 10px 5px #6285c6;
  }

  .wave.wave1 {
    background: radial-gradient(circle at 100%, #6285c6, #6285c6 50%, #1a0a3a 100%);
    animation: drift 5000ms infinite linear;
    box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
  }

  .wave.wave2 {
    background: radial-gradient(circle at 100%, #6285c6, #6285c6 50%, #1a0a3a 100%);
    animation: drift 8000ms infinite linear;
    box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
  }
}
