<ion-content padding class='background-home fade-in' scroll="false">

  <!-- Header -->
  <div class="control">
    <ion-col>
      <h1>Select Climate</h1>
      <h1>Setting</h1>
      <p style="color:#998ead;">Favorite Presets</p>
    </ion-col>
  </div>

  <!-- Slide -->

  <ion-slides slidesPerView="2.5" spaceBetween="10px" style="height:30%;">
    <ion-slide>
      <div class='menu-home-active'>
        <ion-icon ios="ios-sunny" md="md-sunny"></ion-icon>
        <div>
          <span style="font-size:15px">Heat</span><br>
          <span style="font-size:25px">10° - 19°</span>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class='menu-home-close'>
        <ion-icon style="color:#00ccff;" ios="ios-snow" md="md-snow"></ion-icon>
        <div>
          <span style="font-size:15px; color:#00ccff;">Cool</span><br>
          <span style="font-size:25px">3° - 7°</span>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class='menu-home-close'>
        <ion-icon style="color:#b381ff;" name="custom-wind"></ion-icon>
        <div>
          <span style="font-size:15px; color:#b381ff;">Wet</span><br>
          <span style="font-size:25px">7° - 11°</span>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class='menu-home-close'>
        <ion-icon style="color:#00ccff;" name="custom-dry"></ion-icon>
        <div>
          <span style="font-size:15px; color:#00ccff;">Dry</span><br>
          <span style="font-size:25px">-2° - 0°</span>
        </div>
      </div>
    </ion-slide>
  </ion-slides>


  <div style="text-align: center; padding-top: 12%;">
    <span style="font-size:100px">19</span>
    <span style="font-size:25px">temp</span>
  </div>
  <!-- Wave Footer -->

  <div class='wave'></div>
  <div class='wave wave1'></div>
  <div class='wave wave2'></div>
</ion-content>