<ion-content class="background-home">
    <ion-navbar color="violett" (click)="gomainAPP()"></ion-navbar>

    <ion-card>
        <img src='../../assets/imgs/PA3/0.jpg' />
        <ion-card-content>
            
            <ion-card-title class="Kanit ion-text-center tracking-in-expand">
                วัชพืช
            </ion-card-title>
            <p class="Kanit">
                วัชพืช หมายถึงพืชที่ไม่ต้องการให้ขึ้นในที่ที่หนึ่ง หรือหมายถึงพืชที่ขึ้นผิดที่ วัชพืชสามารถทำความเสียหายให้แก่การผลิตพืชเป็นอย่างมาก ทั้งนี้เพราะวัชพืชได้วิวัฒนาการตัวเองให้สามารถอยู่รอด และทนทานต่อการควบคุมกำจัดด้วยวิธีการใดวิธีการหนึ่งได้ดี วัชพืชก่อปัญหาต่างๆ ให้แก่การกสิกรรมดังนี้
            </p>
            \<br>
            <p class="Kanit font-text">
                1) เป็นตัวแก่งแย่งปัจจัยการเจริญเติบโต เช่น ธาตุอาหาร แสงแดด น้ำ ทำให้ต้นพืชปลูกเจริญเติบโตลดลง และทำให้ผลผลิตลดลง
            </p>
            <p class="Kanit font-text">
                2) เป็นตัวแก่งแย่งเนื้อที่ในการกสิกรรม ทำให้ไม่สามารถใช้พื้นที่นั้นๆ ทำการกสิกรรมได้
            </p>
            <p class="Kanit font-text">
                3) เป็นพืชอาศัย (alternative host) ของโรคพืช หรือแมลงศัตรู ในขณะที่ยังไม่มีการปลูกพืช ทำให้เชื้อสาเหตุโรคพืชหรือแมลงศัตรูพืชสามารถดำรงชีวิตได้ครบวงจร และสามารถดำรงพันธุ์อยู่ได้ในพื้นที่นั้นๆ ดังนั้นเมื่อถึงฤดูการปลูกพืชแล้วศัตรูพืชเหล่านี้จะระบาดทำความเสียหายแก่พืชปลูกอย่างรวดเร็ว
            </p>
            <p class="Kanit font-text">
                4) วัชพืชทำให้คุณภาพของผลผลิตลดต่ำลง โดยการปะปนเข้าไปกับผลผลิตที่เก็บเกี่ยว
            </p>
            <p class="Kanit font-text">
                5) วัชพืชทำให้เกิดอุปสรรคและภาระแก่การใช้เครื่องจักรกล หรือเครื่องทุ่นแรง เป็นเหตุให้ต้องเพิ่มค่าใช้จ่ายในการทำงานของเครื่องจักร
            </p>
            <p class="Kanit font-text">
                6) วัชพืชบางชนิด เช่น กาฝาก ฝอยทอง หญ้าแม่มด เป็นวัชพืชที่ขึ้นและแก่งแย่งดูดน้ำและธาตุอาหารจากต้นพืชปลูกโดยตรง เรียกว่าเป็น parasite weed
            </p>
            <p class="Kanit font-text">
                7) วัชพืชบางชนิดขัดขวางการทำงานของกสิกร เช่น หมามุ่ย หญ้าขจรจบก่อให้เกิดอาการคัน หนามกระสุน ไมยราบหนาม มีหนามแหลมคม สามารถปักแทงทะลุเครื่องนุ่งห่มได้
            </p>
            \<br>
            <img src="../../assets/imgs/anime_bellsprout.svg" height="50px" width="50px">
        </ion-card-content>
    </ion-card>
</ion-content>