page-A2 {
  .background-home {
    background: linear-gradient(25deg, #3a9679, #fabc60, #3a9679);
    color: #ffffff;

    background-size: 400% 400%;
  }
  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @font-face {
    font-family: Kanit;
    src: url("../../assets/fonts/Kanit.woff2") format("woff2");
  }
  .Kanit {
    font-family: Kanit;
  }
  .ion-text-center {
    text-align: center;
    font-size: 25px;
  }
  .font-text {
    font-size: 15px;
  }
}
