<ion-content class="background-home">
    <ion-navbar color="violett" (click)="gomainAPP()"></ion-navbar>

    <ion-card>
        <img src='../../assets/imgs/PA3/0.jpg' />
        <ion-card-content>
            <ion-card-title class="Kanit ion-text-center tracking-in-expand">
                โรคพืช
            </ion-card-title>
            <p class="Kanit">
                สาเหตุที่ทำให้เกิดโรคพืชแบ่งได้ 2 สาเหตุคือ
            </p>
            \<br>
            <img src='../../assets/imgs/PA3/1.jpg' />
            \<br>
            <p class="Kanit font-text">
                1. เกิดจากสิ่งมีชีวิต (pathogenic disease) เช่น โรคพืชที่เกิดจากเชื้อไวรัส (virus) เชื้อไมโคพลาสมา
                (mycoplasma) เชื้อแบคทีเรีย (bacteria) เชื้อรา (fungi) และไส้เดือนฝอย
            </p>
            <p class="Kanit font-text">
                ลักษณะอาการ (symptom) ของโรคพืชซึ่งเกิดจากเชื้อสาเหตุที่แตกต่างกัน จะแตกต่างกันดังต่อไปนี้
            </p>
            <p class="Kanit font-text">
                1.1) ลักษณะอาการของโรคพืชที่เกิดจากเชื้อไวรัส มักมีอาการโรคใบหด ใบหงิก ใบสีเหลืองส้ม ใบด่างเหลือง ใบม้วน
            </p>
            <p class="Kanit font-text">
                1.2) ลักษณะอาการของโรคพืชที่เกิดจากเชื้อไมโคพลาสมา มักมีอาการโรคใบขาว ลำต้นแคระแกรน แตกกอเป็นพุ่ม
                หรือใบเหลืองซีด กิ่งแห้งตาย ลำต้นทรุดโทรมและไม่ให้ผลผลิต
            </p>
            <p class="Kanit font-text">
                1.3) ลักษณะอาการของโรคพืชจากเชื้อแบคทีเรีย
            </p>
            <p class="Kanit font-text">
                1.4) ลักษณะอาการของโรคพืชจากเชื้อรา ลักษณะอาการของโรคพืชจากเชื้อรามีมากหลายแบบ เช่น ใบเป็นแผล ใบไหม้
                ใบบิด ต้นเหี่ยว รากเน่า โคนต้นเน่า ผลเน่า เมล็ดเน่า ต้นกล้าเน่า หรือต้นแห้งตายไปทั้งต้น
                ลักษณะอาการของโรคพืชจากเชื้อรามักจะสังเกตเห็นเส้นใย (hypha) สปอร์ (spore) ส่วนสืบพันธุ์ต่างๆ
            </p>
            <p class="Kanit font-text">
                1.5) ลักษณะอาการของโรคพืชจากไส้เดือนฝอย มักทำให้เกิดโรครากปม รากขอด และลำต้นพืชเหี่ยวเฉาตายไปในที่สุด
            </p>
            \<br>
            <img src='../../assets/imgs/PA3/2.jpg' />
            \<br>
            <p class="Kanit font-text">
                2) เกิดจากสิ่งไม่มีชีวิต (nonpathogenic disease)
            </p>
            <p class="Kanit font-text">
                การขาดธาตุอาหาร ธาตุอาหารเป็นพิษ ดินเป็นกรด ดินเค็มจัด ดินเป็นด่าง หรือพิษจากสารเคมีบางชนิด สาเหตุต่างๆ
                เหล่านี้ทำให้การเจริญเติบโตของต้นพืชผิดปกติ ลำต้นแคระแกร็น มีสีซีด หรือสีผิดปกติ ไม่ให้ผลผลิต
                โรคพืชซึ่งมีสาเหตุเกิดจากสิ่งไม่มีชีวิต จะเกิดเฉพาะบริเวณ ไม่สามารถแพร่กระจายหรือระบาดไปยังแหล่งอื่นๆ
                ได้
            </p>
            \<br>
            <img src="../../assets/imgs/anime_caterpie.svg" height="50px" width="50px">
        </ion-card-content>
    </ion-card>
</ion-content>