<ion-content class="background-home">
    <ion-navbar color="violett">

    </ion-navbar>

    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="card-holder fade-in" (click)="goA1();">
                    <div class="card bg-A1 Kanit">
                        ศัตรูพืช
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="card-holder fade-in" (click)="goA2();">
                    <div class="card bg-A2 Kanit">
                        วัชพืช
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="card-holder fade-in" (click)="goA3();">
                    <div class="card bg-A3 Kanit">
                        โรคพืช
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="card-holder fade-in" (click)="goA4();">
                    <div class="card bg-A4 Kanit">
                        แหล่งที่มาของศัตรูพืช
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div style="text-align: center;">
        <img src="../../assets/imgs/anime_caterpie.svg" height="50px" width="50px">
        <img src="../../assets/imgs/anime_bellsprout.svg" height="50px" width="50px">
        <img src="../../assets/imgs/anime_caterpie.svg" height="50px" width="50px">
        <img src="../../assets/imgs/anime_bellsprout.svg" height="50px" width="50px">
        <img src="../../assets/imgs/anime_caterpie.svg" height="50px" width="50px">
        <img src="../../assets/imgs/anime_bellsprout.svg" height="50px" width="50px">
    </div>
</ion-content>