page-mainAPP {
  .background-home {
    background-image: url("../../assets/imgs/12.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-y: 90%;
    background-position-x: 50%;
    color: #ffffff;
  }
  .fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  font-face {
    font-family: Kanit;
    src: url("../../assets/fonts/Kanit.woff2") format("woff2");
  }
  .Kanit {
    font-family: Kanit;
  }
  .card-holder {
    margin: 1em 0;
  }
  .card {
    font-size: 35px;
    font-weight: 800;
    height: 4em;
    width: 64em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .bg-A1 {
    background: -webkit-linear-gradient(-70deg, #3e9901 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA1/0.jpg");
    background: -o-linear-gradient(-70deg, #3e9901 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA1/0.jpg");
    background: -moz-linear-gradient(-70deg, #3e9901 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA1/0.jpg");
    background: linear-gradient(-70deg, #3e9901 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA1/0.jpg");
    background-size: cover;
    text-align: right;
  }

  .bg-A2 {
    background: -webkit-linear-gradient(70deg, #fa9c30 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA2/0.jpg");
    background: -o-linear-gradient(70deg, #fa9c30 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA2/0.jpg");
    background: -moz-linear-gradient(70deg, #fa9c30 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA2/0.jpg");
    background: linear-gradient(70deg, #fa9c30 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA2/0.jpg");
    background-size: cover;
    text-align: left;
  }

  .bg-A3 {
    background: -webkit-linear-gradient(-70deg, #e41111 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA3/0.jpg");
    background: -o-linear-gradient(-70deg, #e41111 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA3/0.jpg");
    background: -moz-linear-gradient(-70deg, #e41111 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA3/0.jpg");
    background: linear-gradient(-70deg, #e41111 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA3/0.jpg");
    background-size: cover;
    text-align: right;
  }

  .bg-A4 {
    background: -webkit-linear-gradient(70deg, #1841f5 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA4/0.jpg");
    background: -o-linear-gradient(70deg, #1841f5 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA4/0.jpg");
    background: -moz-linear-gradient(70deg, #1841f5 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA4/0.jpg");
    background: linear-gradient(70deg, #1841f5 40%, rgba(0, 0, 0, 0) 40%), url("../../assets/imgs/PA4/0.jpg");
    background-size: cover;
    text-align: left;
  }
}
