<ion-content class="background-home">
    <ion-navbar color="violett" (click)="gomainAPP()"></ion-navbar>

    <ion-card>
        <img src='../../assets/imgs/PA4/0.jpg' />
        <ion-card-content>
            <ion-card-title class="Kanit ion-text-center tracking-in-expand">
                แหล่งที่มาของศัตรูพืช
            </ion-card-title>
            <p class="Kanit">
                ศัตรูพืชชนิดต่างๆ ที่เข้ารบกวนการปลูกพืช มีแหล่งกำเนิดหรือที่มาจาก 3 แหล่งใหญ่ คือ
            </p>
            \<br>
            <img src='../../assets/imgs/PA4/1.jpg' />
            \<br>
            <p class="Kanit font-text">
                1) จากต่างประเทศ หมายถึงศัตรูพืชชนิดนั้นไม่ได้มีแหล่งกำเนิดในประเทศนั้น ๆ แต่ได้ถูกนำเข้ามาโดยอาจจะเจตนา เช่น การระบาดของผักตบชวา หญ้าขจรจบ ไมยราพยักษ์ หรือถูกนำเข้ามาโดยไม่เจตนา แต่ได้ปะปนมากับผลิตผลการเกษตร หรือวัสดุเกษตร เช่น เพลี้ยกระโดดในข้าว ระบาดในประเทศสหรัฐอเมริกาโดยการติดไปกับฟางข้าวซึ่งส่งไปจากประเทศจีน การแพร่ระบาดของแมลงและโรคพืชบางชนิดโดยการติดมากับเมล็ดผล หรือส่วนขยายพันธุ์ต่างๆ เช่น โรคใบร่วงของยางระบาดมาจากทวีปอเมริกาใต้
            </p>
            \<br>
            <img src='../../assets/imgs/PA4/2.jpg' />
            \<br>
            <p class="Kanit font-text">
                2) จากแหล่งอื่นๆ ที่อยู่ใกล้เคียง มีการอพยพเข้ามา หรือมีการแพร่กระจายโดยลม ฝน น้ำและพาหะอื่นๆ เช่น วัสดุเกษตรเข้าไปสู่แหล่งใหม่
            </p>
            \<br>
            <img src='../../assets/imgs/PA4/3.jpg' />
            \<br>
            <p class="Kanit font-text">
                3) จากแหล่งนั้น หมายถึงแหล่งปลูกพืชนั้นๆ ก็อาจมีศัตรูพืชอยู่แล้วตามธรรมชาติ แต่ศัตรูพืชเหล่านั้นยังไม่มีจำนวนมากจนทำความเสียหายถึงระดับเศรษฐกิจ ทั้งนี้เนื่องจากสภาพแวดล้อมต่าง ๆ ยังไม่เหมาะสมต่อการแพร่ระบาดของศัตรูพืชนั้น ๆ เมื่อศัตรูธรรมชาติ (natural encmies) ของศัตรูพืชนั้น ถูกทำลายหรือสภาพแวดล้อมของพื้นที่เพาะปลูกเหมาะสม ระบบการเพาะปลูกเอื้ออำนวยต่อแมลงศัตรูพืชก็ก่อให้เกิดเป็นปัญหาศัตรูพืชขั้นมาได้ เช่น หนอนกอข้าว, หนอนเจาะลำต้นข้าวโพด เป็นต้น
            </p>
            \<br>
            <img src="../../assets/imgs/anime_bellsprout.svg" height="50px" width="50px">
        </ion-card-content>
    </ion-card>
</ion-content>