<ion-content padding class="GB-Menu">
  <ion-card-title class="ion-text-center">
    Menu
  </ion-card-title>
  <div>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col style="padding-top:125px; text-align: center;">
          <button class="slide-top" style="width:125px; height:125px;" ion-button clear (click)="gomainAPP()">
            <img src="../../assets/imgs/farmer.svg">
          </button>
        </ion-col>

        <ion-col style="padding-top:125px; text-align: center;">
          <button class="slide-top" style="width:110px; height:110px;" ion-button color="Greenn" clear
            (click)="goHome()">
            <ion-icon style="font-size:130px" name="home"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row style="text-align: center;">
        <ion-col>
          <p class="slide-top icon-text">Farmer</p>
        </ion-col>
        <ion-col>
          <p class="slide-top icon-text">Home</p>
        </ion-col>
      </ion-row>

      <ion-row style="text-align: center;">
        <ion-col style="text-align: center;">
          <button class="slide-top" style="width:110px; height:110px;" ion-button color="Greenn" clear
            (click)="goAbout()">
            <ion-icon style="font-size:125px" name="information-circle"></ion-icon>
          </button>
        </ion-col>

        <ion-col style="text-align: center;">
          <button class="slide-top" style="width:110px; height:110px;" ion-button color="Greenn" clear
            (click)="goContact(); presentLoading();">
            <ion-icon style="font-size:125px" name="contact"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row style="text-align: center;">
        <ion-col>
          <p class="slide-top icon-text">About</p>
        </ion-col>
        <ion-col>
          <p class="slide-top icon-text">Contact</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>