page-Menu {
  .GB-Menu {
    background-image: url("../../assets/imgs/12.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-y: 90%;
    background-position-x: 50%;
    color: #ffffff;
  }
  .slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  @font-face {
    font-family: Kanit;
    src: url("../../assets/fonts/Kanit.woff2") format("woff2");
  }
  .Kanit {
    font-family: Kanit;
  }
  .ion-text-center {
    text-align: center;
    font-size: 35px;
  }
  .icon-text{
    font-size:20px; 
    color:black;
  }
}
